<div id="current_burgers">
    <div id="undevoured_burgers">
        <h2>Current Burgers</h2>
        {{show_uneaten_burgers burgers}}
    </div>
    <div id="devoured_burgers">
        <h2>Devoured Burgers</h2>
        {{show_devoured_burgers burgers}}
    </div>