<div id="current_burgers">
    <div id="undevoured_burgers">
        <h2>Current Burgers</h2>
        <ol id="current_burgers_list">
            {{#each burgers}}
                {{#if devoured==0}}
                <li class="burger">
                    <span class="burger_name">{{burger_name}}</span>
                    <button class="devour-button" data-id="{{id}}">Devour</button>
                </li>
            {{/each}}
        </ol>
    </div>
    <div id="devoured_burgers">

    </div>